<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav position="end" mode="side" [(opened)]="opened">
    <mat-nav-list>
      <mat-list-item routerLink="/checklist"><i class="material-icons">list</i>Checklist</mat-list-item>
      <mat-list-item routerLink="/shoppinglist"><i class="material-icons">check_box</i>Shoppinglist</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <span>
        <h1>Shopping List</h1>
      </span>
      <span class="autoFlexer"></span>
      <span>
        <button mat-button (click)="sidenav.toggle()">
          <i class="material-icons">
            reorder
          </i>
        </button></span>
    </mat-toolbar>
    <mat-selection-list *ngFor="let gegenstand of trainingData">
      <mat-list-option>
        <mat-list-item>{{gegenstand}}</mat-list-item>
      </mat-list-option>
    </mat-selection-list>

    <br>
    <mat-card *ngIf="isAdd">
      <mat-card-title>Eingabefeld</mat-card-title>
      <div class="inputfield">
        <mat-form-field>
          <mat-label>Input</mat-label>
          <input matInput [(ngModel)]="newInput" placeholder="Wie gehts?">
        </mat-form-field>
        <br>
        <button mat-button (click)="add()" class="saveButton">
          Speichern
        </button>
      </div>
    </mat-card>
    <mat-toolbar>
      <button mat-button *ngIf="!isAdd" (click)="add()">
        Add
      </button>
      <span class="autoFlexer"></span>
      <button mat-button [disabled]="isEmpty" (click)="deleteAll()">
        Delete all
      </button>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>